.header {
   position: relative;
   height: 40vh;
   width: 100%;
   background-image: linear-gradient(
         to right,
         rgba($color-black, 0.85) 20%,
         rgba($color-blue-dark, 0.75) 55%,
         rgba($color-black, 0.85) 88%
      ),
      url('./images/temple.jpg');
   background-size: cover;
   background-position: center;
   z-index: 3;
   &__text-box {
      width: 100%;
      position: absolute;
      top: 62%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      font-family: 'lato';
      color: $color-white;
   }
   &__title,
   &__title-secondary {
      display: block;
      text-transform: capitalize;
      font-weight: 400;
   }
   &__title {
      letter-spacing: 6px;
      font-size: 4.5rem;
      &-secondary {
         margin-top: -5px;
         letter-spacing: 3.5px;
         font-size: 1.7rem;
         opacity: 0.8;
      }
   }
   overflow: hidden;
}

section .set {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   pointer-events: none;
}

section .set div {
   position: absolute;
   display: block;
}

section .set div:nth-child(1) {
   left: 20%;
   animation: animate 15s linear infinite;
   animation-delay: -7s;
}

section .set div:nth-child(2) {
   left: 50%;
   animation: animate 20s linear infinite;
   animation-delay: -5s;
}

section .set div:nth-child(3) {
   left: 70%;
   animation: animate 20s linear infinite;
   animation-delay: 0s;
}

section .set div:nth-child(4) {
   left: 0%;
   animation: animate 15s linear infinite;
   animation-delay: -5s;
}

section .set div:nth-child(5) {
   left: 85%;
   animation: animate 18s linear infinite;
   animation-delay: -10s;
}

section .set div:nth-child(6) {
   left: 0%;
   animation: animate 12s linear infinite;
}

section .set div:nth-child(7) {
   left: 15%;
   animation: animate 14s linear infinite;
}

section .set div:nth-child(8) {
   left: 60%;
   animation: animate 15s linear infinite;
}

@keyframes animate {
   0% {
      opacity: 0;
      top: -10%;
      transform: translateX(20px) rotate(0deg);
   }
   10% {
      opacity: 1;
   }
   20% {
      transform: translateX(-20px) rotate(45deg);
   }
   40% {
      transform: translateX(-20px) rotate(90deg);
   }
   60% {
      transform: translateX(20px) rotate(180deg);
   }
   80% {
      transform: translateX(-20px) rotate(180deg);
   }
   100% {
      top: 110%;
      transform: translateX(-20px) rotate(225deg);
   }
}

.set2 {
   transform: scale(2) rotateY(180deg);
   filter: blur(2px);
}

.set3 {
   transform: scale(0.8) rotateX(180deg);
   filter: blur(4px);
}

.set img {
   transform: scale(0.2);
}

@media screen and (max-width: 1000px) {
   .header__title {
      font-size: 3.7rem;
      letter-spacing: 3px;
      &-secondary {
         font-size: 1.4rem;
         letter-spacing: 2px;
      }
   }
}
