.blog {
   position: relative;
   min-height: 55vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   & a {
      color: $color-white;
   }
   &__title {
      text-align: center;
      margin-top: 70px;
      font-size: 30px;
      font-weight: 500;
      text-transform: uppercase;
      &--secondary {
         margin: 0;
         font-size: 18px;
         letter-spacing: 0.5px;
         opacity: 0.6;
      }
      &--image {
         &-fiat {
            border-radius: 8px;
            margin: 70px 0;
            width: 320px;
            height: 480px;
            background-image: url('./images/blog/fiat.jpg');
            background-size: cover;
         }
         &-claudius {
            background-image: url('./images/blog/claudius.png');
            width: 320px;
            height: 320px;
            background-size: cover;
         }
         &-debasement {
            background-image: url('./images/blog/decline.jpg');
            max-width: 850px;
            width: 100%;
            height: 170px;
            background-size: cover;
            border-radius: 8px;
         }
         &-nixon {
            border-radius: 8px;
            background-image: url('./images/blog/nixon.jpg');
            width: 320px;
            height: 320px;
            background-size: cover;
            background-position: center;
         }
         &-fed {
            border-radius: 5px;
            background-image: url('./images/blog/fed.png');
            width: 500px;
            height: 420px;
            background-size: cover;
            background-position: center;
         }
      }
   }
   &__text {
      font-size: 20px;
      max-width: 850px;
      text-align: left;
   }
   &__sources {
      font-size: 12px;
   }
   &__return {
      position: absolute;
      font-size: 60px;
      left: 50px;
      text-decoration: none;
      &:hover {
         cursor: pointer;
         opacity: 0.8;
      }
      & span {
         position: absolute;
         font-size: 20px;
         top: 30px;
      }
      &--mobile {
         display: none;
      }
   }
}

@media screen and (max-width: 1000px) {
   .blog {
      &__text {
         font-size: 16px;
      }
      &__title--image {
         &-fiat {
            width: 180px;
            height: 280px;
         }
         &-claudius {
            width: 180px;
            height: 180px;
         }
         &-debasement {
            max-width: 320px;
            width: 100%;
            height: 65px;
         }
         &-nixon {
            width: 180px;
            height: 180px;
         }
         &-fed {
            width: 300px;
            height: 251px;
         }
      }
   }
   .blog__return {
      left: 0;
      top: -30px;
      display: none;
      &--mobile {
         display: block;
         text-decoration: underline;
      }
      &--back {
         text-decoration: underline;
      }
   }
}
