*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
}

html {
   font-size: 62.5%;
}

body {
   position: relative;
   box-sizing: border-box;
   overflow-x: hidden;
   padding: 0;
   background-color: $color-black;
}

@media screen and (max-width: 1000px) {
   body {
      padding: 0;
   }
}
