body {
   font-family: 'Montserrat', sans-serif;
   font-weight: 400;
   /* font-size: 16px; */
   line-height: 1.7;
   color: $color-grey-dark;
}

@media screen and (max-width: 1000px) {
   .body {
      padding: 0 1.2rem 0 1.2rem;
   }
}
