.app-body {
   height: 85vh;
   width: 100%;
   background-image: url('./images/white-paper-bg.png');
   box-shadow: 0 0.4rem 0.8rem 0 rgba($color-black, 0.2),
      0 0.6rem 1rem 0 rgba($color-black, 0.1);
   border-radius: 0.5rem;
   padding: 2rem;
}
