.app-body {
   height: 85vh;
   width: 96vw;
   background-image: url('./images/white-paper-bg.png');
   box-shadow: 0 0.4rem 0.8rem 0 rgba($color-black, 0.2),
      0 0.6rem 2rem 0 rgba($color-black, 0.19);
   border-radius: 0.5rem;
}
