.header {
   position: relative;
   height: 35vh;
   width: calc(100% + 4rem);
   background-image: linear-gradient(
         to right bottom,
         rgba($color-blue-medium, 0.7),
         rgba($color-blue-dark, 0.7)
      ),
      url('./images/temple.jpg');
   background-size: cover;
   background-position: center;
   margin: -2rem -2rem 0 -2rem;
   &__text-box {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      font-family: 'lato';
      color: $color-white;
   }
   &__title,
   &__title-secondary {
      display: block;
      text-transform: capitalize;
      font-weight: 400;
   }
   &__title {
      letter-spacing: 6px;
      font-size: 4.5rem;
      &-secondary {
         margin-top: -5px;
         letter-spacing: 3.5px;
         font-size: 1.7rem;
         opacity: 0.8;
      }
   }
}

@media screen and (max-width: 1000px) {
   .header__title {
      font-size: 3.7rem;
      letter-spacing: 3px;
      &-secondary {
         font-size: 1.4rem;
         letter-spacing: 2px;
      }
   }
}
