.navbar {
   position: absolute;
   padding: 2rem 1rem 0 1rem;
   width: 100%;
   box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.5);
   &__box {
      font-family: 'japanese-brush';
      padding-bottom: 2rem;
      color: $color-grey-light-1;
      font-size: 2rem;
      min-height: 80px;
      font-weight: normal;
      height: 10vh;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      border-bottom: 2px solid rgba($color-grey-light-1, 0.2);
   }
}

.flex-container:first-child {
   cursor: pointer;
}

.zen-circle {
   height: 6rem;
   width: 6rem;
   margin-right: 2rem;
   // background-image: url('./images/zen-circle.png');
   background-image: url('./images/circle-g.png');
   background-size: cover;
   animation: logo-spin infinite 20s linear;
   animation-play-state: paused;
}

.flex-container {
   padding-top: 1rem;
   display: flex;
   align-items: center;
   z-index: 3;
}

.spinning:hover .zen-circle {
   animation-play-state: running;
}

.link {
   box-sizing: border-box;
   color: $color-white;
   text-decoration: none;
   font-size: 2.8rem;
   position: relative;
   margin-right: 3.5rem;
   font-weight: normal;
   &:hover {
      cursor: pointer;
      opacity: 0.8;
   }
}

.current {
   width: 5rem;
   height: 2rem;
   background-image: url('./images/brush-stroke-g.png');
   background-size: cover;
   position: absolute;
   left: 50%;
   margin-left: -3rem;
   margin-top: -0.7rem;
   z-index: 10;
   animation: brush 0.2s ease-in;
}

.menu-btn {
   display: none;
   position: absolute;
   z-index: 3;
   right: 23px;
   top: 12px;
   cursor: pointer;
   transition: all 0.4s ease-out;
}
.menu-btn .btn-line {
   width: 50px;
   height: 12px;
   margin: 0 0 5px 0;
   background-image: url('./images/brush-stroke-w.png');
   background-size: cover;
   transition: all 0.4s ease-out;
}
.menu-btn.close {
   transform: rotate(180deg);
}
.menu-btn.close .btn-line:nth-child(1) {
   transform: rotate(45deg) translate(16px, 15px);
   width: 50px;
}
.menu-btn.close .btn-line:nth-child(2) {
   opacity: 0;
}
.menu-btn.close .btn-line:nth-child(3) {
   transform: rotate(-45deg) translate(7px, -6px);
   width: 50px;
}

.mobile-modal {
   display: none;
   position: fixed;
   justify-content: flex-start;
   padding-top: 20rem;
   align-items: center;
   flex-direction: column;
   font-family: 'japanese-brush';
   font-size: 2rem;
   top: 0;
   left: 0;
   bottom: 0;
   transform: translateX(100%);
   width: 100vw;
   height: 110vh;
   z-index: 2;
   background-image: linear-gradient(
      to right bottom,
      rgba($color-blue-medium, 1),
      rgba($color-blue-dark, 1)
   );
   transition: all ease-in 0.3s;
}

.show {
   transform: translateX(0);
}

.link-modal {
   box-sizing: border-box;
   text-decoration: none;
   font-size: 2.8rem;
   margin-bottom: 1rem;
   color: $color-grey-light-1;
   font-weight: normal;

   &:hover {
      cursor: pointer;
      opacity: 0.8;
   }
}

.test {
   position: relative;
   height: 50px;
   width: 250px;
}

.title {
   font-weight: normal;
   z-index: 10;
   position: absolute;
   height: 50px;
   width: 250px;
   top: 0;
   left: 0;
}

// .paint-bg {
//    position: absolute;
//    height: 70px;
//    width: 250px;
//    background-image: url('./images/big-brush-g.png');
//    background-size: cover;
//    top: -10px;
//    left: 0;
//    z-index: 0;
// }

@media screen and (max-width: 1000px) {
   .navbar {
      padding: 0;
      margin: 1rem 6px 0 6px;
      &__box {
         width: calc(100% - 12px);
         padding-bottom: 0;
      }
   }
   .flex-container {
      padding-top: 0;
   }
   .mobile-modal {
      display: flex;
   }
   .menu-btn {
      display: inline-block;
   }
   .link {
      display: none;
   }
   .zen-circle {
      margin-top: -1.5rem;
      height: 5rem;
      width: 5rem;
   }
   .title {
      font-size: 2.5rem;
   }
   .paint-bg {
      height: 50px;
      width: 200px;
   }
}
