.navbar {
   font-family: 'japanese-brush';
   color: $color-black;
   font-size: 2rem;
   margin-top: 1rem;
   height: 12vh;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   box-sizing: border-box;
}

.flex-container:first-child {
   cursor: pointer;
}

.zen-circle {
   height: 8rem;
   width: 8rem;
   margin-right: 1rem;
   margin-top: -1rem;
   background-image: url('./images/zen-circle.png');
   background-size: cover;
   animation: logo-spin infinite 20s linear;
   animation-play-state: paused;
}

.flex-container {
   display: flex;
   align-items: center;
   z-index: 3;
}

.spinning:hover .zen-circle {
   animation-play-state: running;
}

.link {
   box-sizing: border-box;
   position: relative;
   margin-right: 3.5rem;
   &:hover {
      cursor: pointer;
      opacity: 0.8;
   }
}

.current {
   width: 5rem;
   height: 2rem;
   background-image: url('./images/brush-stroke.png');
   background-size: cover;
   position: absolute;
   left: 50%;
   margin-left: -3rem;
   margin-top: -0.7rem;
   z-index: 10;
   animation: brush 0.2s ease-in;
}

.menu-btn {
   display: none;
   position: absolute;
   z-index: 3;
   right: 30px;
   top: 30px;
   cursor: pointer;
   transition: all 0.4s ease-out;
}
.menu-btn .btn-line {
   width: 50px;
   height: 12px;
   margin: 0 0 5px 0;
   background-image: url('./images/brush-stroke.png');
   background-size: cover;
   transition: all 0.4s ease-out;
}
.menu-btn.close {
   transform: rotate(180deg);
}
.menu-btn.close .btn-line:nth-child(1) {
   transform: rotate(45deg) translate(16px, 15px);
   width: 50px;
}
.menu-btn.close .btn-line:nth-child(2) {
   opacity: 0;
}
.menu-btn.close .btn-line:nth-child(3) {
   transform: rotate(-45deg) translate(7px, -6px);
   width: 50px;
}

.mobile-modal {
   display: none;
   position: absolute;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   font-family: 'japanese-brush';
   font-size: 2rem;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   height: 100vh;
   width: 100vw;
   z-index: 2;
   background-image: url('./images/white-paper-bg.png');
}

.link-modal {
   box-sizing: border-box;
   margin-bottom: 1rem;
   color: $color-black;

   &:hover {
      cursor: pointer;
      opacity: 0.8;
   }
}

.hide {
   display: none;
}

@media screen and (max-width: 1000px) {
   .mobile-modal {
      display: flex;
   }
   .menu-btn {
      display: inline-block;
   }
   .link {
      display: none;
   }
   .zen-circle {
      height: 5rem;
      width: 5rem;
   }
   .title {
      font-size: 2.5rem;
   }
}
