@font-face {
  font-family: 'japanese-brush';
  src: url("./font/JAPAB___.TTF"); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  position: relative;
  box-sizing: border-box;
  overflow-x: hidden;
  padding: 0;
  background-color: #000; }

@media screen and (max-width: 1000px) {
  body {
    padding: 0; } }

@keyframes logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(-360deg); } }

@keyframes brush {
  from {
    transform: scaleX(0.1) translateX(-2.5rem); }
  to {
    transform: scaleX(5rem) translateX(0); } }

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #fff; }

.app-body {
  height: auto;
  width: calc(100% - 20px);
  box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2), 0 0.6rem 1rem 0 rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(to right bottom, #3b8686, #0b486b);
  padding: 2rem;
  margin: 0 10px;
  margin-bottom: 10px;
  border-radius: 5px; }

.chart-wrapper {
  height: 100vh; }

@media screen and (max-width: 1000px) {
  .app-body {
    width: calc(100% - 12px);
    margin: 0 6px 6px 6px; } }

.navbar {
  position: absolute;
  padding: 2rem 1rem 0 1rem;
  width: 100%;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.5); }
  .navbar__box {
    font-family: 'japanese-brush';
    padding-bottom: 2rem;
    color: #f7f7f7;
    font-size: 2rem;
    min-height: 80px;
    font-weight: normal;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    border-bottom: 2px solid rgba(247, 247, 247, 0.2); }

.flex-container:first-child {
  cursor: pointer; }

.zen-circle {
  height: 6rem;
  width: 6rem;
  margin-right: 2rem;
  background-image: url("./images/circle-g.png");
  background-size: cover;
  animation: logo-spin infinite 20s linear;
  animation-play-state: paused; }

.flex-container {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  z-index: 3; }

.spinning:hover .zen-circle {
  animation-play-state: running; }

.link {
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
  font-size: 2.8rem;
  position: relative;
  margin-right: 3.5rem;
  font-weight: normal; }
  .link:hover {
    cursor: pointer;
    opacity: 0.8; }

.current {
  width: 5rem;
  height: 2rem;
  background-image: url("./images/brush-stroke-g.png");
  background-size: cover;
  position: absolute;
  left: 50%;
  margin-left: -3rem;
  margin-top: -0.7rem;
  z-index: 10;
  animation: brush 0.2s ease-in; }

.menu-btn {
  display: none;
  position: absolute;
  z-index: 3;
  right: 23px;
  top: 12px;
  cursor: pointer;
  transition: all 0.4s ease-out; }

.menu-btn .btn-line {
  width: 50px;
  height: 12px;
  margin: 0 0 5px 0;
  background-image: url("./images/brush-stroke-w.png");
  background-size: cover;
  transition: all 0.4s ease-out; }

.menu-btn.close {
  transform: rotate(180deg); }

.menu-btn.close .btn-line:nth-child(1) {
  transform: rotate(45deg) translate(16px, 15px);
  width: 50px; }

.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0; }

.menu-btn.close .btn-line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
  width: 50px; }

.mobile-modal {
  display: none;
  position: fixed;
  justify-content: flex-start;
  padding-top: 20rem;
  align-items: center;
  flex-direction: column;
  font-family: 'japanese-brush';
  font-size: 2rem;
  top: 0;
  left: 0;
  bottom: 0;
  transform: translateX(100%);
  width: 100vw;
  height: 110vh;
  z-index: 2;
  background-image: linear-gradient(to right bottom, #3b8686, #0b486b);
  transition: all ease-in 0.3s; }

.show {
  transform: translateX(0); }

.link-modal {
  box-sizing: border-box;
  text-decoration: none;
  font-size: 2.8rem;
  margin-bottom: 1rem;
  color: #f7f7f7;
  font-weight: normal; }
  .link-modal:hover {
    cursor: pointer;
    opacity: 0.8; }

.test {
  position: relative;
  height: 50px;
  width: 250px; }

.title {
  font-weight: normal;
  z-index: 10;
  position: absolute;
  height: 50px;
  width: 250px;
  top: 0;
  left: 0; }

@media screen and (max-width: 1000px) {
  .navbar {
    padding: 0;
    margin: 1rem 6px 0 6px; }
    .navbar__box {
      width: calc(100% - 12px);
      padding-bottom: 0; }
  .flex-container {
    padding-top: 0; }
  .mobile-modal {
    display: flex; }
  .menu-btn {
    display: inline-block; }
  .link {
    display: none; }
  .zen-circle {
    margin-top: -1.5rem;
    height: 5rem;
    width: 5rem; }
  .title {
    font-size: 2.5rem; }
  .paint-bg {
    height: 50px;
    width: 200px; } }

.header {
  position: relative;
  height: 40vh;
  width: 100%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.85) 20%, rgba(11, 72, 107, 0.75) 55%, rgba(0, 0, 0, 0.85) 88%), url("./images/temple.jpg");
  background-size: cover;
  background-position: center;
  z-index: 3;
  overflow: hidden; }
  .header__text-box {
    width: 100%;
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'lato';
    color: #fff; }
  .header__title, .header__title-secondary {
    display: block;
    text-transform: capitalize;
    font-weight: 400; }
  .header__title {
    letter-spacing: 6px;
    font-size: 4.5rem; }
    .header__title-secondary {
      margin-top: -5px;
      letter-spacing: 3.5px;
      font-size: 1.7rem;
      opacity: 0.8; }

section .set {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none; }

section .set div {
  position: absolute;
  display: block; }

section .set div:nth-child(1) {
  left: 20%;
  animation: animate 15s linear infinite;
  animation-delay: -7s; }

section .set div:nth-child(2) {
  left: 50%;
  animation: animate 20s linear infinite;
  animation-delay: -5s; }

section .set div:nth-child(3) {
  left: 70%;
  animation: animate 20s linear infinite;
  animation-delay: 0s; }

section .set div:nth-child(4) {
  left: 0%;
  animation: animate 15s linear infinite;
  animation-delay: -5s; }

section .set div:nth-child(5) {
  left: 85%;
  animation: animate 18s linear infinite;
  animation-delay: -10s; }

section .set div:nth-child(6) {
  left: 0%;
  animation: animate 12s linear infinite; }

section .set div:nth-child(7) {
  left: 15%;
  animation: animate 14s linear infinite; }

section .set div:nth-child(8) {
  left: 60%;
  animation: animate 15s linear infinite; }

@keyframes animate {
  0% {
    opacity: 0;
    top: -10%;
    transform: translateX(20px) rotate(0deg); }
  10% {
    opacity: 1; }
  20% {
    transform: translateX(-20px) rotate(45deg); }
  40% {
    transform: translateX(-20px) rotate(90deg); }
  60% {
    transform: translateX(20px) rotate(180deg); }
  80% {
    transform: translateX(-20px) rotate(180deg); }
  100% {
    top: 110%;
    transform: translateX(-20px) rotate(225deg); } }

.set2 {
  transform: scale(2) rotateY(180deg);
  filter: blur(2px); }

.set3 {
  transform: scale(0.8) rotateX(180deg);
  filter: blur(4px); }

.set img {
  transform: scale(0.2); }

@media screen and (max-width: 1000px) {
  .header__title {
    font-size: 3.7rem;
    letter-spacing: 3px; }
    .header__title-secondary {
      font-size: 1.4rem;
      letter-spacing: 2px; } }

.stats__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  padding: 0 40px 0 40px; }
  .stats__header-top {
    padding-top: 70px; }
  .stats__header-header {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 70px;
    letter-spacing: 1.5px; }
    .stats__header-header-secondary {
      font-size: 27px;
      color: rgba(255, 255, 255, 0.8);
      border-bottom: 2px solid rgba(121, 189, 154, 0.3);
      border-top: 2px solid rgba(121, 189, 154, 0.3);
      max-width: 850px;
      margin-bottom: 0;
      padding-bottom: 70px;
      padding-top: 70px;
      width: 100%; }
  .stats__header-text {
    font-size: 20px;
    max-width: 850px;
    border-top: 2px solid rgba(121, 189, 154, 0.3);
    padding-bottom: 40px;
    padding-top: 40px;
    width: 100%; }

.stats__line-div {
  max-width: 600px;
  margin: auto;
  padding: 16px 32px;
  margin-bottom: 100px; }

.stats__container-outer {
  padding: 40px 0;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center; }

.stats__container-inner {
  padding: 40px;
  margin-right: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto; }
  .stats__container-inner--bottom {
    margin-right: 0; }
  .stats__container-inner--list {
    list-style: none;
    text-align: start;
    font-size: 18px;
    margin-bottom: 5px; }
    .stats__container-inner--list-grey {
      color: rgba(255, 255, 255, 0.6); }

.stats__container-pie {
  max-width: 400px;
  width: 80%;
  height: 300px;
  padding: 20px;
  padding-left: 50px; }

.stats__pct {
  color: #eb426c; }
  .stats__pct--green {
    color: #cff09e; }

@media screen and (max-width: 1000px) {
  .stats__container-outer {
    flex-direction: column;
    text-align: center; }
  .stats__container-inner {
    margin-right: 0;
    padding: 40px 0; }
  .stats__line-div {
    padding: 0;
    margin-bottom: 50px; }
  .stats__container-pie {
    padding-left: 20px; }
  .stats__header {
    padding: 0px 20px; }
  .stats__header-top {
    padding-top: 70px; } }

.bitcoin-test {
  min-height: 55vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .bitcoin-test__start-container {
    margin: 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    padding: 0 40px 0 40px;
    transition: transform 1.5s ease; }
  .bitcoin-test__title {
    font-size: 28px;
    border-bottom: 2px solid rgba(121, 189, 154, 0.3);
    padding-bottom: 40px; }
  .bitcoin-test__button {
    margin-top: 50px;
    background-color: #a01c3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #fff;
    padding: 10px 25px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s all; }
    .bitcoin-test__button--margin-right {
      margin-right: 70px; }
    .bitcoin-test__button:hover {
      opacity: 0.9; }
  .bitcoin-test__questions-div {
    position: absolute;
    margin: 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    padding: 0 40px 0 40px;
    transform: translateX(400%);
    transition: transform 1.5s ease;
    transition-delay: 0.3s; }
  .bitcoin-test__move-left {
    transform: translateX(-400%); }
  .bitcoin-test__move-middle {
    transform: translateX(0); }

@media screen and (max-width: 1000px) {
  .bitcoin-test {
    min-height: 45vh; } }

.blog {
  position: relative;
  min-height: 55vh;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .blog a {
    color: #fff; }
  .blog__title {
    text-align: center;
    margin-top: 70px;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase; }
    .blog__title--secondary {
      margin: 0;
      font-size: 18px;
      letter-spacing: 0.5px;
      opacity: 0.6; }
    .blog__title--image-fiat {
      border-radius: 8px;
      margin: 70px 0;
      width: 320px;
      height: 480px;
      background-image: url("./images/blog/fiat.jpg");
      background-size: cover; }
    .blog__title--image-claudius {
      background-image: url("./images/blog/claudius.png");
      width: 320px;
      height: 320px;
      background-size: cover; }
    .blog__title--image-debasement {
      background-image: url("./images/blog/decline.jpg");
      max-width: 850px;
      width: 100%;
      height: 170px;
      background-size: cover;
      border-radius: 8px; }
    .blog__title--image-nixon {
      border-radius: 8px;
      background-image: url("./images/blog/nixon.jpg");
      width: 320px;
      height: 320px;
      background-size: cover;
      background-position: center; }
    .blog__title--image-fed {
      border-radius: 5px;
      background-image: url("./images/blog/fed.png");
      width: 500px;
      height: 420px;
      background-size: cover;
      background-position: center; }
  .blog__text {
    font-size: 20px;
    max-width: 850px;
    text-align: left; }
  .blog__sources {
    font-size: 12px; }
  .blog__return {
    position: absolute;
    font-size: 60px;
    left: 50px;
    text-decoration: none; }
    .blog__return:hover {
      cursor: pointer;
      opacity: 0.8; }
    .blog__return span {
      position: absolute;
      font-size: 20px;
      top: 30px; }
    .blog__return--mobile {
      display: none; }

@media screen and (max-width: 1000px) {
  .blog__text {
    font-size: 16px; }
  .blog__title--image-fiat {
    width: 180px;
    height: 280px; }
  .blog__title--image-claudius {
    width: 180px;
    height: 180px; }
  .blog__title--image-debasement {
    max-width: 320px;
    width: 100%;
    height: 65px; }
  .blog__title--image-nixon {
    width: 180px;
    height: 180px; }
  .blog__title--image-fed {
    max-width: 320px;
    width: 100%;
    height: 269px; }
  .blog__return {
    left: 0;
    top: -30px;
    display: none; }
    .blog__return--mobile {
      display: block;
      text-decoration: underline; }
    .blog__return--back {
      text-decoration: underline; } }

.robot__inner {
  min-width: 270px;
  display: flex;
  justify-content: space-between; }

.robot__single {
  margin-right: 0; }
